# Dependencies
node_modules/
.pnp/
.pnp.cjs

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/OS
.DS_Store
Thumbs.db

# Next.js
.next/
out/

# Env
.env*

# Uploads
server/uploads/
